.container { 
max-width: 1200px;
}
@media screen and (max-width: 992px){
    .navigation ul li a { font-size: 14px;}
    .header { height: 600px;}
    .header .container {padding: 17px 0 15px 15px;}
}
@media screen and (max-width: 768px){
    .navigation ul li a { font-size: 11px;}
    .header { height: 550px;}
    .header .container {padding: 15px 0 15px 15px;}
}
@media screen and (max-width: 480px){
    .navigation ul li a { font-size: 8px;}
    .header { height: 500px;}
    .header .container {padding: 13px 0 15px 15px;}
}
@media screen and (max-width: 320px){
    .navigation ul li a { font-size: 6px;}
    .header { height: 450px;}
    .header .container {padding: 11px 0 15px 15px;}
}