
@import "mixin.scss";
@import "variables.scss";

.container {
    width: 1250px;
    margin: 0 auto;
}
.header {
    @include important-text;
    max-width: $maxWidth;
}
.text {
    @include secondary-text;
}

