.main {
    width: 1100px;
    height: 800px;
    background-color: #C4C4C4;
}
.wrapper {
    display: inline-block;
    position: relative;
}
.container1 {
   background-color: #E6E6E6;
   width: 1000px;
   position: relative;
   top: 50px;
   left: 50px;
   height: 200px;
}
.card1 {
    background-color:#FC8F8F;
    width: 200px;
    height: 200px;
    position: relative;
    float: left;
}
.card2 {
    background-color:#FC8F8F;
    width: 200px;
    height: 200px;
    position: relative;
    float: left;
    left:600px;
}
.container2 {
    background-color: #E6E6E6;
    width: 1000px;
    position: relative;
    top: 100px;
    left: 50px;
    height: 200px;
}
.card3 {
    background-color:#FC8F8F;
    width: 200px;
    height: 200px;
    position: relative;
    float: left;
}
.card4 {
    background-color:#FC8F8F;
    width: 100px;
    height: 100px;
    position: relative;
    left:350px;
    float: left;
}
.card5 {
    background-color:#FC8F8F;
    width: 100px;
    height: 100px;
    position: relative;
    left: 365px;
    float: left;
}
.card6 {
    background-color:#FC8F8F;
    width: 100px;
    height: 100px;
    position: relative;
    left:385px;
    float: left;
}
.card7 {
    background-color:#FC8F8F;
    width: 100px;
    height: 100px;
    position: relative;
    left: 400px;
    float: left;
}
.container3 {
    background-color: #E6E6E6;
    width: 1000px;
    position: relative;
    left: 50px;
    top:150px;
    height: 200px;
}
.card8 {
    background-color:#FC8F8F;
    width: 200px;
    height: 200px;
    position: relative;
    float: left;
}
.card9 {
    background-color:#FC8F8F;
    width: 200px;
    height: 200px;
    position: relative;
    left:20px;
    float: left;
}
.card10 {
    background-color:#FC8F8F;
    width: 200px;
    height: 200px;
    position: relative;
    left: 180px;
    float: left;
}
.card11 {
    background-color:#FC8F8F;
    width: 200px;
    height: 200px;
    position: relative;
    float: left;
    left:200px;
}
.text1 {
    color: white;
    font-size: 80px;
    text-align: center;
    margin: 50px;
}
.text {
    color: white;
    font-size: 50px;
    text-align: center;
    margin: 22px;
}