h1 {
    color: red;
}
.first-h3 {
    color: orange;
}
#second-h3 {
    color: yellow;
}
.table-h3 .third-h3 {
    color: green;
}
h2 {
    color: aqua;
}
 h3 b {
    color: blue;
}
.violet-h3 {
    color: violet;
}
#pink-h3 {
    color: pink;
}
.brown-h3 {
    color: brown;
}
.grey-h3 {
    color: grey;
}