.composition {
    width: 600px;
    height: 400px;
    position: relative;
    background: url("https://htmlbase.ru/storage/app/media/position-task1/bg.jpg");
  }
  .comp-itemsuperman { 
    position: relative; 
    left: 300px; 
    top: 84px; 
  } 
  .comp-itemplanet-1 { 
    position: relative; 
    left: 190px; 
    top: -100px; 
    
  } 
  .comp-itemplanet-2 { 
    position: relative; 
    left: -65px; 
 
  } 
  .comp-itemplanet-3 { 
    position: relative; 
    left: -150px; 
    top: 138px; 
    z-index: 1;
  }   
  .comp-itemspaceship { 
    position: relative; 
    top: -105px; 
    left: 80px; 
  }
  .comp-itemufo { 
    position: relative; 
    left: 10px; 
    top: 25px; 
    z-index: 2;
  } 
  .comp-itemasteroid { 
    position: relative; 
    left: 430px; 
    top: -175px; 
  }
